configs/n8n-workflow-todo-capture-todoist.example.json
{
  "name": "Todo Capture → Todoist (via Gemini)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "sch",
      "name": "Every 1 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        160,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const sd=$getWorkflowStaticData('global');return [{json:{offset:sd.tgOffset||0}}];"
      },
      "id": "ro",
      "name": "Read offset",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        340,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/botCHANGE_ME_TELEGRAM_BOT_TOKEN/getUpdates?offset={{ $json.offset }}&limit=1&allowed_updates=[\"message\"]",
        "options": {}
      },
      "id": "gu",
      "name": "Telegram getUpdates",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const data=$json.result||$json.body?.result||[];const sd=$getWorkflowStaticData('global');if(!data.length)return [];const u=data[0];const m=u.message;if(!m||!m.text){sd.tgOffset=u.update_id+1;return [];}const SYS=\"You convert a rough note into a Todoist task. Respond ONLY with minified JSON: {\\\"content\\\":\\\"\\\",\\\"description\\\":\\\"\\\",\\\"due_string\\\":\\\"\\\",\\\"label\\\":\\\"\\\",\\\"priority\\\":1,\\\"action\\\":\\\"none\\\",\\\"person\\\":\\\"\\\"}. content=short imperative title. description=extra detail or empty string. due_string=natural-language date/time ONLY if implied (e.g. 'thursday','tomorrow 9am','today'); else empty; never invent. label=ONE short category word if obvious (Blog, Church, Coding, Routines, Kord, Home, Errands), else empty. priority=1 (normal) to 4 (urgent); >1 only if clearly urgent. action='call' if the note is about phoning a person, 'text' if texting/messaging a person, else 'none'. person=the contact name to call/text (e.g. 'Hendrix'), else empty.\";const geminiBody=JSON.stringify({system_instruction:{parts:[{text:SYS}]},contents:[{role:'user',parts:[{text:m.text}]}],generationConfig:{maxOutputTokens:400,temperature:0.2}});return [{json:{text:m.text,chatId:m.chat.id,updateId:u.update_id,geminiBody}}];"
      },
      "id": "gm",
      "name": "Get message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-3.5-flash:generateContent",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.geminiBody }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "ai",
      "name": "Gemini: clean up",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        300
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "CHANGE_ME",
          "name": "Gemini API key"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "\nlet t='';try{t=$json.candidates?.[0]?.content?.parts?.[0]?.text||$json.body?.candidates?.[0]?.content?.parts?.[0]?.text||'';}catch(e){}\nlet o={};try{const m=t.match(/\\{[\\s\\S]*\\}/);if(m)o=JSON.parse(m[0]);}catch(e){}\nconst action=['call','text'].includes(String(o.action))?o.action:'none';\nconst personSafe=String(o.person||'').replace(/[^A-Za-z0-9 ]/g,'').trim();\nconst src=$('Get message').item.json;\nreturn [{json:{\n  content:String(o.content||'Untitled task').slice(0,400),\n  description:String(o.description||''),\n  due_string:String(o.due_string||''),\n  label:String(o.label||''),\n  priority:(parseInt(o.priority)>=1&&parseInt(o.priority)<=4)?parseInt(o.priority):1,\n  action, personSafe, chatId:src.chatId, updateId:src.updateId }}];\n"
      },
      "id": "prs",
      "name": "Parse task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1060,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT (SELECT phone_tel FROM contacts WHERE '{{ $json.personSafe }}'<>'' AND name_lower LIKE '%'||lower('{{ $json.personSafe }}')||'%' LIMIT 1) AS phone_tel, (SELECT phone_raw FROM contacts WHERE '{{ $json.personSafe }}'<>'' AND name_lower LIKE '%'||lower('{{ $json.personSafe }}')||'%' LIMIT 1) AS phone_raw",
        "options": {}
      },
      "id": "pg",
      "name": "Lookup contact",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1240,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "CHANGE_ME",
          "name": "n8n Postgres (contacts)"
        }
      }
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "\nconst t=$('Parse task').item.json;\nconst tel=$json.phone_tel, raw=$json.phone_raw;\nconst esc=s=>String(s).replace(/@/g,'\\\\@').replace(/#/g,'\\\\#');\nlet desc=t.description||'';\nlet actionNote='';\nif(tel && (t.action==='call'||t.action==='text')){\n  const links='📞 [Call](tel:'+tel+')  •  💬 [Text](sms:'+tel+')';\n  desc=(desc?desc+'\\n\\n':'')+links;\n  actionNote=' 📞 '+(raw||tel);\n} else if(t.action!=='none' && t.personSafe && !tel){\n  actionNote=' ⚠️ no contact \"'+t.personSafe+'\" found';\n}\nconst task={content:esc(t.content).slice(0,400)};\nif(desc) task.description=desc.slice(0,9000);\nif(t.due_string) task.due_string=t.due_string;\nif(t.priority>1) task.priority=t.priority;\nif(t.label){const l=t.label.replace(/[^A-Za-z0-9]+/g,'_').replace(/^_+|_+$/g,'');if(l)task.labels=[l];}\nconst confirm='✅ Added: '+t.content\n +(t.due_string?' 📅 '+t.due_string:'')\n +(t.label?' 🏷️ '+t.label:'')\n +(t.priority>1?' ❗p'+(5-t.priority):'')\n +actionNote;\nreturn [{json:{todoistBody:JSON.stringify(task),chatId:t.chatId,updateId:t.updateId,confirm}}];\n"
      },
      "id": "bld",
      "name": "Build task",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.todoist.com/api/v1/tasks",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json.todoistBody }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "id": "td",
      "name": "Create Todoist task",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1600,
        300
      ],
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 3000,
      "credentials": {
        "httpHeaderAuth": {
          "id": "CHANGE_ME",
          "name": "Todoist API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Build task').item.json.chatId }}",
        "text": "={{ $('Build task').item.json.confirm }}",
        "additionalFields": {}
      },
      "id": "cf",
      "name": "Confirm in Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1780,
        300
      ],
      "continueOnFail": true,
      "credentials": {
        "telegramApi": {
          "id": "CHANGE_ME",
          "name": "Telegram - ASJ Noti bot"
        }
      },
      "webhookId": "156887e4-8602-4906-b420-0fef768ec6ad"
    },
    {
      "parameters": {
        "language": "javaScript",
        "jsCode": "const sd=$getWorkflowStaticData('global');const uid=$('Get message').item.json.updateId;if(uid!=null)sd.tgOffset=uid+1;return $input.all();"
      },
      "id": "adv",
      "name": "Mark read",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        300
      ]
    }
  ],
  "connections": {
    "Every 1 min": {
      "main": [
        [
          {
            "node": "Read offset",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read offset": {
      "main": [
        [
          {
            "node": "Telegram getUpdates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram getUpdates": {
      "main": [
        [
          {
            "node": "Get message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get message": {
      "main": [
        [
          {
            "node": "Gemini: clean up",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini: clean up": {
      "main": [
        [
          {
            "node": "Parse task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse task": {
      "main": [
        [
          {
            "node": "Lookup contact",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup contact": {
      "main": [
        [
          {
            "node": "Build task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build task": {
      "main": [
        [
          {
            "node": "Create Todoist task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Todoist task": {
      "main": [
        [
          {
            "node": "Confirm in Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Confirm in Telegram": {
      "main": [
        [
          {
            "node": "Mark read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}